@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,main{
    width: 100%;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main{
    background-color: rgb(255, 250, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rampart One', cursive;
    margin-top: 8px;
}
.container{
    padding: 15px;
    text-align: center;
    height: 95%;
    width: 100%;
}

#texto{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#table{
	width: 100%;
	border-radius: 20px;
    height:fit-content;
    margin-top: 15px;
    padding-top: 20px;
	background: #fdfcfc;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, .05);
}
#example{
    background: white;
}
.input{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    height: 4.5%;
    align-items: center;
}

#numero{
    width: 30vw;
    height: 100%;
    border: 1px solid gray;
    margin-left: 15px;
    border-radius: 8px;
}
/*
h3{
    font-family: 'Oleo Script', cursive;
    letter-spacing: 1px;
    font-size: larger;
}
.texto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    align-items: center;
}
p{
    font-size:small;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.boton{
    display: flex;
    width: 90%;
    justify-content: center;
    height: 10%;
}
#agregar{
    width: 90%;
    height: 50%;
}
th,td,tr{
    width: 2%;
    height: 2%;
} */